{% extends 'base.html.twig' %}

{% block title %}Ultimate Blog - Create a Post{% endblock %}

{% block body %}
<div class="container container_height">
    <div class="row">
        <form class="flex_form" action="{{path("create-post")}}" method="POST" enctype="multipart/form-data">
            <div class="row size_row">
                <div class="display_form">
                    <label for="title">Title</label>
                    <input required name="title" id="title" type="text" class="validate">
                </div>
            </div>
            <div class="row size_row">
                <div class="display_form">
                    <label for="textarea1">Content</label>
                    <textarea id="textarea1" name="content" required class="materialize-textarea"></textarea>
                </div>
            </div>
            <div class="row size_row">
                <div class="display_form">
                    <label for="picture">Article cover</label>
                    <input type="file" required id="picture" name="picture">
                <!--<input class="file-path validate" type="text">-->
                </div>
            </div>
            <button class="btn btn-primary" type="submit" name="action">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
