{% extends 'base.html.twig' %}

{% block title %}Ultimate Blog - Profil{% endblock %}

{% block body %}
    <div class="container" style="height: 100vh;">
        <div class="row">
            <form action="{{ path('profil') }}" method="POST" style="padding-top: 50px; display: flex; flex-direction: column; align-items: center;">
                <div class="row" style="width: 300px; margin-bottom: 20px;">
                    <div style="
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    ">
                        <label for="first_name">First Name</label>
                        <input required placeholder="{{ user.firstname }}" name="firstname" id="first_name" type="text" class="validate">
                    </div>
                </div>
                <div class="row" style="width: 300px; margin-bottom: 20px;">
                    <div  style="
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    ">
                        <label for="last_name">Last Name</label>
                        <input required placeholder="{{ user.lastname }}" name="lastname" id="last_name" type="text" class="validate">
                    </div>
                </div>
                <div class="row" style="width: 300px; margin-bottom: 20px;">
                    <div style="
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    ">
                        <label for="password">Password</label>
                        <input required id="password" name="password" type="password" class="validate">
                    </div>
                </div>
                <div class="row" style="width: 300px; margin-bottom: 20px;">
                    <div style="
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    ">
                        <label for="username">Username</label>
                        <input required id="username" placeholder="{{ user.username }}" name="username" type="text" class="validate">
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" name="action">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}