{% extends 'base.html.twig' %}

{% block title %}Ultimate Blog - Update Post{% endblock %}

{% block body %}

<div class="container container_height">
    <div class="row">
        <form class="flex_form" action="{{path("update-post",{"id": post.id}) }}" method="POST" enctype="multipart/form-data">
            <div class="row size_row">
                <div class="display_form">
                    <label for="title">Title</label>
                    <input required name="title" value="{{post.title}}" id="title" type="text" class="validate">
                </div>
            </div>
            <div class="row size_row">
                <div class="display_form">
                    <div>
                        <label>Cover</label>
                        <input type="file" required id="picture" name="picture">
                    </div>
                    {#
                    <div class="file-path-wrapper">
                        <input class="file-path validate" value="{{post.picture}}" type="text">
                    </div>
                    #}
                </div>
            </div>
            <div class="row size_row">
                <div class="display_form">
                    <label for="textarea1">Content</label>
                    <textarea class="size_textarea" id="textarea1" name="content" required>{{post.content}}</textarea>
                </div>
            </div>
            <div class="row" >
                <button class="btn btn-primary" type="submit" name="action">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}